<div class="formas-pagto">
    <h2 class="footer-block__heading inline-richtext"><strong>Formas de pagamento</strong></h2>
    
</div>

<div class="selos-seg">
    <h2 class="footer-block__heading inline-richtext"><strong>Selos de Segurança</strong></h2>
</div>